.nav {
  @mixin atSmall {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    &-link {
      padding: 15px;
    }
  }
}
